<h1>Om projektet</h1>
<p>
    Detta är en webbplats med tre undersidor skapad med Angular. Webbplatsens struktur består av fem komponenter: tre
    undersidor, samt en header och en footer.
    I footern har jag lagt in mitt namn direkt i HTML-koden med textinterpolation. Jag har alltså använt dubbla måsvingar
    för att inkludera mitt för- och efternamn som variabler från footer.component.ts-filen.<br><br>

    Navigeringen fungerar via Angulars router-modul.<br>
    Webbplatsen innehåller en startsida med en bild, en sida för konvertering mellan olika enheter, och den här sidan
    som beskriver projektet och sammanfattar slutsatser.
    Projektet byggdes slutligen med kommandot "ng build --prod", vilket genererar en dist/-mapp med den optimerade koden
    för publicering.
    Koden blir minifierad och optimerad, vilket förbättrar prestandan och minskar filstorleken.<br><br>
    Webbplatsen är publicerad på Netlify.
</p>
<h2>Reflektioner</h2>
<p>
    Jag tycker att Angular erbjuder en fantastisk bas med automatiskt skapade filer, mappar, installerade verktyg och ett initialiserat
    git-projekt för versionshantering.
    Att Angular dessutom optimerar och komprimerar koden vid build-processen är också en stor fördel.
    Det är imponerande hur mycket som kommer färdigt från start. Efter att ha arbetat med Angular har jag verkligen fått
    uppskattning för det, då det är användarvänligt och enkelt att förstå. Jag gillar särskilt hur metoder kan
    implementeras i varje components TypeScript-fil – det ger en strukturerad och välorganiserad kod.
</p>
